body , #slider, .wrap, .slide-content{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    width:100%;
    height:100vh;
    overflow-x: hidden;
}
.wrap{position:relative}

.slide{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}

.slide1{
    background-image:url(1.jpg);
}
.slide2{
    background-image:url(2.jpg);
}
.slide3{
    background-image:url(3.jpg);
}

.arrow{
    position:absolute;
    cursor: pointer;
    top:50%;
    margin-top:-30px;
    height:0;
    width:0;
    border-style:solid;
}

#arrow-left{
    border-width:30px 40px 30px 0;
    left:0;
    margin-left:30px;
    border-color:transparent #fff transparent transparent;
}

#arrow-right{
    border-width:30px 0 30px 40px;
    right:0;
    margin-right:30px;
    border-color:transparent transparent transparent #fff;
}
#play{
    border-width:30px 0 30px 40px;
    left:0;
   margin-left:-50px;
    border-color:transparent transparent transparent #fff;
}
#pause{
    border-width:30px 30px 30px 30px;
    left:0;
    /*margin-left:200px;*/
    border-color:#fff #fff #fff #fff;
}

#play{
    position: absolute;
    margin-left:45%;
}

#pause{
    position: absolute;
    margin-left:49%;
}